{% extends 'base.html' %}

{% block head %}
<title>t2s</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Text to Speech</h1>
    <p class="text-center">Creating a speech from the text you write</p>
    <hr />
    <div class="row">
        <div class="col-lg-12 form-group-lg">
            <form action="/go" method="GET">
                <input type="text" class="form-control form-control-lg" name="query" placeholder="Write some text">
                <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                <br />
                <div class="dropdown d-grid gap-2 col-4 mx-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Voice
                    </button>
                    <ul class="dropdown-menu" name="nombrecito">
                        {% for person in people %}
                        <li><a class="dropdown-item" value="{{ person.name }}">{{ person.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <select class="form-select" name="colour" method="GET" action="/">
                        {% for person in people %}
                            <option value="{{person.name}}" SELECTED>{{person.name}}</option>"
                        {% endfor %}
                    </select>
                    <select name="colour_sel" id="colour_sel" method="POST" action="/">
                        {% for person in people %}
                            <option value="{{person.name}}" SELECTED>{{person.name}}</option>"
                        {% endfor %}
                    </select>
                    </div>
                <br />
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button type="submit" class="btn btn-lg btn-success">Generate Speech</button>
                </div>
            </form>
            <br/>
            {% block message %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}s