{% extends 'base.html' %}

{% block head %}
<title>t2s | Settings</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>t2s People Manager</h1>
    {% if people|length < 1 %}
    <h4>There are no people. Create one below!</h4>
    {% else %}
    <table class="table .table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Added</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for person in people %}
        <tbody>
            <tr>
                <th scope="row">{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.date_created.date() }}</td>
                <td>
                    <a href="/settings/delete/{{person.id}}">Delete</a>
                    <br>
                    <a href="/settings/update/{{person.id}}">Update</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="person" id="person">
        <input type="submit" value="Add Person">
    </form>
</div>
{% endblock %}